<h1>
  Add Facility
</h1>
<div class="grey-box">
  <div class="row">
    <div class="col-20">
      <label>
        Name:
      </label>
    </div>
    <div class="col-80">
      <input type="text" #name/>
    </div>
  </div>
  <div class="row">
    <div class="col-20">
      <label>
        Street:
      </label>
    </div>
    <div class="col-80">
      <input type="text" #street/>
    </div>
  </div>
  <div class="row">
    <div class="col-20">
      <label>
        House Number:
      </label>
    </div>
    <div class="col-80">
      <input type="text" #houseNumber/>
    </div>
  </div>
  <div class="row">
    <div class="col-20">
      <label>
        ZIP Code:
      </label>
    </div>
    <div class="col-80">
      <input type="text" #zipCode/>
    </div>
  </div>
  <div class="row">
    <div class="col-20">
      <label>
        City:
      </label>
    </div>
    <div class="col-80">
      <input type="text" #city/>
    </div>
  </div>
  <div class="row">
    <div class="col-20">&nbsp;</div>
    <div class="col-80">
      <button (click)="postFacility(name.value, street.value, houseNumber.value, zipCode.value, city.value)">
        Create Facility
      </button>
    </div>
  </div>
</div>
